@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .select-custom {
        background-image: url(./img/ico-select.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: right center;
        appearance: none;
        cursor: pointer;
    }

    .input-component {
        @apply appearance-none;
    }

    .chat-box p {
        @apply mb-2 text-gray-600;
    }

    .chat-box ol, .chat-box ul {
        @apply mb-2 pl-4;
    }

    .chat-box ol {
        @apply list-decimal
    }

    .chat-box ul {
        @apply list-disc mb-4
    }
}